{% load static %}
<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>LAM</title>
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
   <link rel ="stylesheet" type="text/css" href="{%static 'css/main.css'%}"
</head>
<body>
<!--<nav class="navbar navbar-expand-lg bg-body-tertiary">-->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <a class="navbar-brand" href="#">General des déchets</a>
        <!--<img src="{% static 'images/form2.png' %}"-->
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link" href="#accueil">Accueil</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#connexion">Connexion / Inscription</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#dashboard">Tableau de Bord</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#signalement">Signalement</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#collectes">Collectes</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#recyclage">Recyclage</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#rapports">Rapports</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#contact">Contact / Support</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#admin">Espace Admin</a>
                </li>
            </ul>
        </div>
    </nav>
    <hr>
    {% block contenu %}
    
    {% endblock %}
    <hr>
    <h1>Footer</h1>

<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</body>
</html>
